.category-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dimmed-secondary);
  margin: 15px 0;
}

@media screen and (min-width: 1280px) {
  .category-banner-container {
    margin: 15px 20%;
  }
}
