.cart-modal-container {
  position: fixed;
  z-index: 500;
  background-color: var(--color-secondary);
  width: 100%;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 170px;
  opacity: 90%;
}

.cart-modal-container-shown {
  top: 0;
  transition: all 250ms linear;
}

.cart-modal-container-hidden {
  top: -250px;
  transition: all 500ms linear 2s;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.modal-icon {
  font-size: 24px;
}
