.usp__container {
  display: flex;
  padding: 20px 10rem;
  opacity: 0;
  transform: scale(0.75);
  transition: 2s;
}

.usp__container--zoom {
  opacity: 1;
  transform: scale(1);
  transition: 2s;
}

.usp__content-container {
  display: flex;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
}

.usp__image {
  max-height: 500px;
  width: auto;
  box-shadow: 10px 10px 5px var(--color-accent);
  border-radius: 15%;
}

.usp__text {
  width: 25%;
  line-height: 1.5rem;
}


