.accordion-container {
  max-width: 100vw;
  margin: 10px;
  min-height: 40vh;
}

.accordion-item {
  padding: 0;
  margin-top: 40px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-italic);
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-dimmed-primary);
}

.accordion-icon {
  font-size: 24px;
}

@media screen and (min-width: 1280px) {
  .accordion-container {
    overflow: auto;
  }
}
