.items-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
  padding: 5px 10px;
  margin: 10px;
  font-size: 16px;
}

.minicart-link,
.minicart-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.minicart-link {
  margin: 10px 5px;
  text-decoration: none;
  color: var(--color-dimmed-primary);
  border-bottom: 1px solid var(--color-accent);
}

.minicart-header {
  justify-content: flex-end;
}

.minicart-header > span {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  font-family: var(--font-family-bold);
}

.minicart {
  width: 25%;
  height: auto;
}

.minicart-title {
  text-align: left;
}

.minicart-product-image {
  width: 50px;
  height: 70px;
  margin: 5px;
  padding-bottom: 5px;
  object-fit: contain;
}

.minicart-info {
  width: 100%;
  font-family: var(--font-family-italic);
}

.minicart-price {
  font-family: var(--font-family-bold);
  justify-content: flex-end;
  display: flex;
}
