.payment-methods-container {
  display: flex;
  justify-content: center;
  background-color: var(--color-dimmed-primary);
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}

.container-item {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 1280px) {
  .container-item {
    height: auto;
    padding: 0 20px;
  }
}
