.payment-methods-container {
  display: flex;
  justify-content: center;
  background-color: var(--color-dimmed-primary);
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  height: 65px;

}

.container-item {
  width: 100px;
  height: auto;
  padding: 0 20px;
}
