@font-face {
  font-family: "Roboto Standard";
  src: url(Roboto-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto Bold";
  src: url(Roboto-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto Italic";
  src: url(Roboto-Italic.woff2) format("woff2");
}
