.items-container {
  display: flex;
  flex-direction: column;
  max-height: 35vh;
  overflow: auto;
  padding: 5px 10px;
  margin: 10px;
}

.minicart-link {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-self: center;
  align-items: center;
  margin: 10px 5px;
  text-decoration: none;
  color: var(--color-dimmed-primary);
  border-bottom: 1px solid var(--color-accent);
}

.minicart-product-image {
  width: 50px;
  height: 95px;
  margin: 5px;
  padding-bottom: 5px;
}

.minicart-title {
  width: 100%;
  font-family: var(--font-family-italic);
}

.minicart-price {
  font-family: var(--font-family-bold);
}