// Define variables mostly used throughout the whole project:
:root {
  // Define the color palette
  --color-primary: hsl(0, 0%, 0%);
  --color-secondary: hsl(0, 0%, 100%);
  --color-accent: hsl(0, 1%, 55%);
  --color-dimmed-primary: hsl(0, 0%, 10%);
  --color-dimmed-secondary: hsl(0, 0%, 94%);
  --color-error-text: hsl(360, 100%, 50%);
  --color-notice-good: hsl(95, 94%, 21%);
  --color-disabled-button: hsla(0, 0%, 50%, 0.34);
  --color-container-background: hsl(12, 16%, 82%);

  // Define the font-family
  --font-family-standard: "Roboto Standard", Helvetica, sans-serif;
  --font-family-italic: "Roboto Italic", Helvetica, sans-serif;
  --font-family-bold: "Roboto Bold", Helvetica, sans-serif;

  // Define the font-weights
  --font-weight-thin: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
