// Define variables mostly used throughout the whole project:
:root {
  // Define the color palette
  --color-primary: hsl(0, 0%, 10%);
  --color-secondary: hsl(0, 0%, 90%);
  --color-accent: hsl(0, 3%, 64%);
}