.menu-container-search {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 60px;
  width: auto;
}

.search-icon {
  font-size: 22px;
}

.searchbar-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: var(--color-secondary);
  z-index: 5;
  height: 100vh;
}

.searchbar {
  position: absolute;
  display: none;
  justify-content: center;
  left: 0;
  height: 35px;
}

.searchbar.active {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15px;
  position: absolute;
  width: 90%;
  text-align: center;
  border: 1px solid var(--color-accent);
}

.searchbar-item-container {
  z-index: 10;
  display: flex;
  position: relative;
  top: 50px;
  flex-direction: column;
  height: auto;
  overflow: auto;
  align-items: center;
  background-color: var(--color-secondary);
}

.search-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-accent);
  padding: 10px;
  width: 80vw;
}

.search-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.search-item-name {
  width: 50%;
}

@media screen and (min-width: 1280px) {
  .menu-container-search {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    right: 40px;
  }

  .searchbar-container {
    height: inherit;
    width: 25%;
    right: 275px;
    left: inherit;
    top: 25px;
  }

  .search-item {
    display: flex;
    justify-content: space-between;
    width: 350px;
  }

  .search-image-container {
    height: 50px;
    width: 50px;
  }

  .searchbar-item-container {
    max-height: 75vh;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
