.email-signup-button-container {
  display: flex;
  justify-content: center;
}

.email-signup-button {
  height: 47px;
  width: 90%;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-family-bold);
  font-size: 16px;
  border: none;
  border-radius: 10px;
}