.email-login-button.email-reset-button {
  margin: 0;
  position: absolute;
  left: 730px;
  width: 278px;
  padding-right: 20px;
  margin-top: 20px;
}

.email-login-button.email-reset-button:disabled {
  cursor: auto;
  background-color: var(--color-disabled-button);
}

.email-button-icon.reset-email-icon {
  padding-right: 20px;
}

.reset-text-danger {
  display: flex;
  justify-content: center ;
  position: relative;
  color: var(--color-error-text);
  bottom: 5px;
}