.title {
  font-size: 24px;
  font-family: var(--font-family-bold);
  font-style: italic;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  font-family: var(--font-family-bold);
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 42px;
  }

  .subtitle {
    font-size: 18px;
  }
}
