.product-list-grid {
  height: 450px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.product-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.product-item-container {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 35px;
  border-radius: 15px;
  height: 300px;
  border: 1px solid black;

}

.product-item-title {
  position: absolute;
  bottom: 0;
  height: auto;
  text-align: center;
}

.item-title {
  font-size: 12px;
  font-family: var(--font-family-italic);
  margin: 0;
  height: auto;
}

.product-item-image-container {
  height: 200px;
  width: auto;
}

.product-item-image {
  height: 200px;
  width: auto;
}

.product-item-price {
  position: absolute;
  bottom: 0;
  height: 75px;
  font-family: var(--font-family-italic);
}
