.section-title {
  font-family: var(--font-family-bold);
  font-size: 18px;
}

.grid-row-banner {
  margin: 10px;
}

.grid-row-content {
  display: flex;
}

.grid-row-image {
  width: 50%;
  height: auto;
}

.grid-row-text {
  margin: 0 5px;
}

@media screen and (min-width: 1280px) {
  .grid-row-banner {
    max-width: 65vw;
    height: auto;
    padding: 25px;
    margin: 15px auto;
  }

  .grid-row-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-row-image {
    width: 450px;
    height: auto;
    margin: 0 15px;
  }

  .grid-row-text {
    font-family: var(--font-family-italic);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
  }

  .section-title {
    font-size: 24px;
  }
}
