.sign-up-action-button {
  height: 47px;
  width: 112.25px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 10px;
  font-family: var(--font-family-bold);
  cursor: pointer;
}

.login-action-button {
  height: 47px;
  width: 112.25px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid hsla(346, 100%, 4%, 1);
  border-radius: 10px;
  font-family: var(--font-family-bold);
}

.submit-login-button {
  height: 50px;
  width: 220px;
  font-size: 18px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.error-container {
  position: absolute;
  margin-top: 65px;
  color: red;
}