.signup-container {
  margin-top: 25px;
}

.signup-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actions-container {
  display: flex;
  justify-content: center;
}

.info-section {
  text-align: center;
}

.info-section a {
  font-family: var(--font-family-bold);
}

@media screen and (min-width: 1280px) {
  .signup-container {
    padding-bottom: 150px;
  }

  .signup-text {
    font-size: 42px;
    font-family: var(--font-family-bold);
    font-style: italic;
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: center;
  }
}
