.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.signup-text {
  font-size: 42px;
  font-family: var(--font-family-bold);
  font-style: italic;
  margin: 5px 0 10px 0;
  display: flex;
  justify-content: center;
}

.signup-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actions-container {
  display: flex;
  justify-content: center;
}

.informations-container {
  margin-left: auto;
  margin-right: auto;
}

.terms-information-container,
.already-customer-container {
  margin-left: auto;
  margin-right: auto;
}

.terms-information-container {
  margin-top: 25px;
  font-size: 12px;
  font-style: italic;
}
