.secondary-button {
  height: 47px;
  width: 112.25px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid hsla(346, 100%, 4%, 1);
  border-radius: 10px;
  font-family: var(--font-family-bold);
  cursor: pointer;
}

.secondary-button-flipped {
  height: 47px;
  width: 112.25px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid hsla(346, 100%, 4%, 1);
  border-radius: 10px;
  font-family: var(--font-family-bold);
  cursor: pointer;
}
