.page-sorter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sorter-select {
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 45px;
  text-align: center;
  background-color: var(--color-secondary);
}

@media screen and (min-width: 1280px) {
  .page-sorter {
    width: 80%;
    justify-content: flex-end;
  }

  .sorter-select {
    width: 150px;
    height: 30px;
  }

  .sorter-select:hover {
    cursor: pointer;
  }

  .filter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
  }

  .sorter-value {
    visibility: hidden;
  }
}
