.page-sorter {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.sorter-select {
  width: auto;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .page-sorter {
    width: 80%;
  }

  .sorter-select {
    width: 150px;
    height: 30px;
  }

  .sorter-select:hover {
    cursor: pointer;
  }

  .filter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
  }

  .sorter-value {
    visibility: hidden;
  }
}