.header-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  flex: 1 1;
  margin-bottom: 15px;
}

.header-menu {
  display: none;
}

.mobile-header-menu {
  position: absolute;
  right: 20px;
  font-size: 22px;
  top: 20px;
  color: var(--color-primary);
}

.header-cart-icon {
  font-size: 22px;
  position: absolute;
  right: 25px;
}


@media screen and (min-width: 1280px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-self: center;
    height: auto;
    background-color: var(--color-secondary);
    padding: 16px 25px;
    top: 0;
    flex: 1 1 0;
  }

  .main-header, .main-header-logo, .right-header-section {
    width: 33.33333%;
  }


  .mobile-header-menu {
    display: none;
  }

  .header-menu {
    display: flex;
  }

  .header-cart-icon, .navbar {
    display: none;
  }
}