.header-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  flex: 1 1;
}


@media screen and (min-width: 1280px) {
  .header-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
    align-items: center;
    align-self: center;
    height: auto;
    background-color: var(--color-secondary);
    padding: 16px 25px;
    top: 0;
    flex: 1 1 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    display: none;
  }
}