.header-container {
  height: auto;
  background-color: var(--color-secondary);
  padding: 16px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  flex: 1 1 0;
}
