a {
  text-decoration: none;
  color: hsl(0, 0%, 0);
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
}

.header-container {
  height: 72px;
  background-color: hsl(0, 0%, 100);
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  width: 100%;
  height: 70px;
  align-items: center;
}

.left-header-section-item {
  margin-left: 65px;
}

.main-header-logo {
  position: absolute;
  left: 45%;
  font-size: 32px;
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.right-header-section {
  height: 50px;
  width: 230px;
  display: flex;
  justify-content: space-between;
}
