.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header-section-item,
.main-header-logo {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-family-bold);
}

.section-item {
  margin-left: 65px;
}

.main-header-logo {
  font-family: var(--font-family-bold);
  font-size: 18px;
  text-align: center;
}

.section-item-active {
  font-family: var(--font-family-bold);
  border-bottom: 1px solid var(--color-primary);
}

@media screen and (min-width: 1280px) {
  .main-header-logo {
    font-size: 32px;
  }

  .right-header-section {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
}