.facebook-button-login {
  height: 55px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  margin-bottom: 15px;
  background-color: hsl(220, 46%, 48%);
  color: var(--color-secondary);
  cursor: pointer;
}

.facebook-button-icon {
  font-size: 40px;
  padding-right: 20px;
}
