.functional-button {
  height: 50px;
  width: 220px;
  font-size: 18px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.functional-button:disabled {
  background: var(--color-disabled-button);
  cursor: auto;
}
