.navbar {
  position: absolute;
  left: 25px;
  font-size: 25px;
}

.menu-bars {
  background: none;
  top: 5px;
  color: var(--color-primary);
}

.navbar a {
  color: var(--color-primary);
  text-decoration: none;
}

.menu-bars a {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-menu {
  background-color: #ffffff;
  width: 65vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 10px;
  left: -100%;
  transition: 850ms;
  z-index: 200;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  top: 0;
  z-index: 200;
}

.navbar-toggle > .menu-bars {
  font-size: 2rem;
  margin: 0 0 15px 15px;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  box-shadow: 1px 1px 2px;
}

.nav-text a:hover {
  background-color: var(--color-secondary);
  color: black;
  outline: none;
}

.nav-menu-items {
  width: 100%;
  padding-right: 15px;
  padding-left: 10px;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-trigger span {
  margin-right: 10px;
}

.menu-action-logout,
.menu-about-us {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  font-family: var(--font-family-bold);
}

.menu-about-us {
  text-align: center;
  font-family: var(--font-family-italic);
  font-size: 14px;
  margin-top: 10px;
}

@media only screen and (min-width: 1201px) {
  .menu-bars {
    left: 30px;
    font-size: 2rem;
    background: none;
    top: 5px;
  }
}
