.forgotten-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  padding-bottom: 100px;
}

.container-image {
  height: 250px;
  width: auto;
  position: relative;
}

.secondary-text.instruction {
  font-family: var(--font-family-standard);
  margin-top: 20px;
}

.forgotten-password-input-container {
  width: 300px;
  padding-left: 20px;
  margin-top: 20px;
}