.checkout-container {
  padding-top: 15px;
}

.checkout-container .title {
  margin: 2px;
  padding: 3px 12px;
}

.checkout-container .checkout-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.confirm-checkout-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media screen and (min-width: 1280px) {
  .checkout-container {
    display: flex;
    justify-content: center;
  }
}
