.add-to-cart-button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
}

.product-price,
.add-to-cart-message {
  font-size: 14px;
  margin: 10px;
}

.add-to-cart-message {
  padding-left: 25px;
  font-family: var(--font-family-bold);
}

@media screen and (min-width: 1280px) {
  .add-to-cart-button {
    height: 75px;
    width: 100%;
  }
}
