.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-header {
  margin: 0;
}

.welcome-message {
  font-size: 42px;
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.secondary-text {
  font-size: 18px;
  font-family: "Roboto Italic", Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

.email-form-login {
  border-left: 0.5px solid hsl(0, 0, 25%);
}

.third-party-methods {
  padding-right: 12px;
}

.email-login {
  padding-left: 12px;
}

.login-method-container {
  display: flex;
  margin-top: 40px;
}

.third-party-methods,
.email-form-login {
  width: 50%;
}
