.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  margin-top: 25px;
}

.form-header {
  text-align: center;
  margin: 0;
}

.third-party-methods,
.email-form-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.third-party-login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-form-login form {
  width: 100%;
}

.alternative-register-container a {
  font-family: var(--font-family-bold);
}

@media screen and (min-width: 1280px) {
  .email-form-login {
    border-left: 0.5px solid var(--color-accent);
  }

  .third-party-methods {
    padding-right: 12px;
    padding-bottom: 65px;
  }

  .email-login {
    padding-left: 12px;
  }

  .login-method-container {
    margin: 40px 0;
    display: flex;
  }

  .third-party-login-buttons {
    padding: 5px;
  }

  .third-party-methods,
  .email-form-login {
    width: 300px;
    padding-left: 20px;
  }
}
