.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.form-container label {
  padding: 5px 0;
  font-family: var(--font-family-italic);
}

.form-50 {
  display: flex;
  flex: 1 1 0;
}

.form-50 fieldset {
  padding: 10px 5px 10px 0;
}

.form-100 {
  display: flex;
  width: 100%;
  padding: 0;
}

.form-100 fieldset {
  padding: 10px 5px 10px 0;
}

.form-100 label {
  width: 100%;
}

.form-date-picker,
.gender-select {
  width: 186.5px;
  height: 50px;
  border: 0.5px solid gray;
  font-size: 18px;
}

.react-datepicker__input-container {
  padding-top: 5px;
}

.gender-picker-container {
  padding-top: 5px;
}

label[for="gender"] {
  width: 100%;
  height: auto;
  padding-left: 3px;
}

label[for="gender"],
label[for="date-of-birth"] {
  padding-bottom: 5px;
}

.gender-select {
  height: 54px;
  width: 100%;
  background-color: var(--color-secondary);
}
