.email-login-button {
  height: 55px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.email-button-icon {
  font-size: 40px;
  padding-right: 45px;
}
