.success-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.succes-page-image-container {
  display: flex;
}

.success-page-image {
  height: 50vh;
  width: auto;
}