.product-container {
  margin-top: 25px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-link {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-link span {
  margin: 5px;
}

.product-item-container {
  display: flex;
  flex-direction: column;
}

.product-item-container .image-container {
  justify-content: center;
  display: flex;
}

.product-item-image {
  width: 125px;
  height: 165px;
}

.product-link:visited,
.product.link:hover,
.product-link:focus {
  text-decoration: none;
}

.item-title {
  font-size: 12px;
  font-family: var(--font-family-italic);
  text-align: start;
}

.product-item-price {
  font-family: var(--font-family-bold);
  font-style: italic;
  text-align: start;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .product-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .product-link {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0;
  }

  .product-item-title {
    margin-bottom: 5px;
  }

  .product-item-image-container {
    display: flex;
    justify-content: center;
  }

  .image-container {
    height: 650px;
  }

  .product-item-image {
    max-width: 100%;
    height: auto;
    max-height: 650px;
    width: auto;
    position: relative;
  }
}
