.product-list-container {
  margin-top: 25px;
}

.product-list-grid {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.product-link {
  justify-content: center;
  text-decoration: none;
  color: inherit;
  margin: 10px 20px;
  flex: 1 1 0;
}

.product-link:visited, .product.link:hover, .product-link:focus {
  text-decoration: none;
}

.product-item-container {
  justify-content: center;
  position: relative;
  margin: 15px;
  border-radius: 15px;
  height: 400px;
}

.product-item-title {
  margin-bottom: 5px;
}

.item-title {
  font-size: 12px;
  font-family: var(--font-family-italic);
  text-align: end;
}

.product-item-image-container {
  display: flex;
  justify-content: center;
}

.product-item-image {
  height: 300px;
  width: auto;
}

.product-item-price {
  text-align: end;
  font-family: var(--font-family-bold);
  font-style: italic;
}
