.product-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.product-link {
  width: 45%;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-link span {
  margin: 5px;
}

.product-item-container {
  display: flex;
  flex-direction: column;
}

.product-item-container .image-container {
  justify-content: center;
  display: flex;
}

.product-item-image {
  width: 125px;
  height: 165px;
  object-fit: contain;
}

.product-link:visited,
.product.link:hover,
.product-link:focus {
  text-decoration: none;
}

.item-title {
  font-size: 12px;
  font-family: var(--font-family-italic);
  text-align: start;
}

.product-item-price {
  font-family: var(--font-family-bold);
  font-style: italic;
  text-align: start;
  width: 100%;
}

.desktop-loading-cards {
  display: none;
}

@media screen and (min-width: 1280px) {
  .desktop-loading-cards {
    display: inherit;
  }

  .mobile-loading-cards {
    display: none;
  }

  .product-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: inherit;
  }

  .product-item-container {
    position: relative;
    height: auto;
    margin: 25px;
  }

  .product-link {
    display: flex;
    justify-content: center;
    width: 33.3333%;
    margin: 0;
  }

  .product-item-title {
    margin-bottom: 5px;
  }

  .product-item-image {
    object-fit: contain;
    width: 275px;
    height: 250px;
  }
}
