.product-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.product-image {
  max-height: 300px;
}

.product-details {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-detail-title {
  font-family: var(--font-family-bold);
  padding: 10px;
  text-align: center;
}

.bottom-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  top: 10px;
  height: 100%;
}

.add-to-cart-container {
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

@media screen and (min-width: 1280px) {
  .product-detail-container {
    display: flex;
    margin: 25px auto;
    height: auto;
    flex-direction: inherit;
    width: 50%;
    position: relative;
  }

  .product-image-container {
    justify-content: flex-start;
  }

  .product-image {
    width: auto;
    max-height: 450px;
  }

  .add-to-cart-container {
    position: absolute;
    padding: 0;
    bottom: 0;
    top: inherit;
    left: 50%;
  }

  .product-details {
    position: relative;
    padding-left: 35px;
  }

  .product-detail-title {
    font-family: var(--font-family-bold);
    font-style: italic;
    font-size: 32px;
  }

  .product-detail-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--font-family-italic);
    padding-top: 25px;
  }

  .bottom-detail-container {
    display: flex;
    margin-top: 25px;
  }
}
