.product-detail-container {
  display: flex;
  margin: 100px 0;
}

.product-image-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 25%;
}

.product-image {
  width: 300px;
}

.product-details {
  position: relative;
  padding-left: 35px;
  margin-right: 25%;
}

.product-detail-title {
  font-family: var(--font-family-bold);
  font-style: italic;
  font-size: 32px;
}

.product-detail-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--font-family-italic);
  padding-top: 25px;
}

.add-to-cart-button-container {
  position: absolute;
  bottom: 0;
}