.product-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 300px;
}

.product-image {
  height: 200px;
  width: auto;
  object-fit: contain;
}

.product-details {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-detail-title {
  font-family: var(--font-family-bold);
  padding: 10px;
  text-align: center;
}

.bottom-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  top: 10px;
  height: 100%;
}

.add-to-cart-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.desktop-detail-skeleton {
  display: none;
}

@media screen and (min-width: 1280px) {
  .desktop-detail-skeleton {
    display: inherit;
  }

  .mobile-detail-skeleton {
    display: none;
  }

  .product-detail-container {
    display: flex;
    margin: 25px auto;
    height: auto;
    flex-direction: inherit;
    width: 50%;
    position: relative;
    height: 500px;
  }

  .product-image {
    width: 250px;
    height: 450px;
    object-fit: contain;
  }

  .product-details {
    position: relative;
    padding-left: 35px;
  }

  .product-detail-title {
    font-family: var(--font-family-bold);
    font-style: italic;
    font-size: 32px;
  }

  .product-detail-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--font-family-italic);
    padding-top: 25px;
  }

  .bottom-detail-container {
    display: flex;
    margin-top: 25px;
  }

  .add-to-cart-container {
    width: 100%;
  }
}
