.user-control-button {
  height: 47px;
  width: 112.25px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid hsla(346, 100%, 4%, 1);
  border-radius: 10px;
  font-family: var(--font-family-bold);
  cursor: pointer;
}

.user-control-button-signup {
  height: 47px;
  width: 112.25px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid hsla(346, 100%, 4%, 1);
  border-radius: 10px;
  font-family: var(--font-family-bold);
  cursor: pointer;
}

.submit-login-button {
  height: 50px;
  width: 220px;
  font-size: 18px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.error-container {
  height: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
}