.legal-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  height: 100px;
}

.legal-container-item {
  color: var(--color-accent);
}

.legal-item-left {
  margin-left: 20%;
}

.legal-item-right {
  margin-right: 20%;
}

.legal-row-items {
  margin-right: 10px;
  font-weight: normal;
}

.footer-link {
  color: var(--color-accent);
  font-weight: normal;
  text-decoration: none;
}
