@import "../src/assets/fonts/fonts.css";

body {
    font-family: 'Roboto Standard', Arial, Helvetica, sans-serif;
}

.link, .link:visited {
    text-decoration: none;
    color: black;
    font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
}

.nav-link {
    text-decoration: none;
}

h1 {
  font-size: 42px;
  font-family: var(--font-family-bold);
  font-style: italic;
}

h5 {
  font-size: 18px;
  font-family: var(--font-family-bold);
}