@import "../src/assets/fonts/fonts.css";

body {
    font-family: 'Roboto Standard', Arial, Helvetica, sans-serif;
}

.link, .link:visited {
    text-decoration: none;
    color: black;
    font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
}

.nav-link {
    text-decoration: none;
}

.loading-spinner {
  margin-right: 5px;
  animation: loader-spin 1s infinite;
}

.error-message {
  color: red;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}