@import "../src/assets/fonts/fonts.css";

body {
    font-family: 'Roboto Standard', Arial, Helvetica, sans-serif;
}

.link, .link:visited {
    text-decoration: none;
    color: black;
    font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
}

.nav-link {
    text-decoration: none;
}