.page-title {
  padding: 10px 0 0 10px;
}

.customer-service-block {
  padding-left: 20px;
}

.subtitle {
  font-size: 20px;
}

.question-container > ul {
  padding-left: 0;
}

.customer-questions > li {
  text-decoration: none;
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-accent);
}

@media screen and (min-width: 1280px) {
  .customer-service-block {
    width: 45%;
  }
}
