.cart-summary-container {
  width: 100%;
  padding: 25px 0;
}

.cart-summary {
  background-color: var(--color-dimmed-secondary);
  padding: 10px;
}

.summary-title {
  border-bottom: 1px solid var(--color-primary);
  width: 100%;
  text-align: end;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total {
  font-family: var(--font-family-bold);
}
