.homepage-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.wave-container {
  position: relative;
  background: var(--color-primary);
  height: 1000px;
  margin-top: 20px;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(185% + -500px);
  height: 700px;
}

.wave .shape-fill {
  fill: var(--color-secondary);
}

.homepage-actions {
  position: relative;
  width: 33%;
  top: 550px;
  left: 300px;
  right: 60px;
  animation: homepage-actionmenu 3s;
}

.homepage-action-buttons {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.action-text-main,
.action-text-secondairy {
  color: var(--color-secondary);
  margin-bottom: 10px;
  font-family: var(--font-family-bold);
}

.action-text-main {
  font-size: 38px;
}

.action-text-secondairy {
  font-size: 18px;
}

.homepage-media {
  position: absolute;
  right: 60px;
  top: 60px;
  border-radius: 20%;
  animation: homepage-media 1.5s;
}

@keyframes homepage-media {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes homepage-actionmenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-area-content {
  width: 600px;
  height: auto;
  border-radius: 20%;
}
