.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--color-primary);
}

.footer-items {
  width: 60%;
  color: var(--color-accent);
  margin-left: 35px;
}

.footer-header {
  font-family: var(--font-family-bold);
  color: var(--color-dimmed-secondary);
}

.footer-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.footer-list li {
  margin: 5px 0;
}

.social-icon {
  margin: 5px;
  font-size: 22px;
}

@media screen and (min-width: 1280px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 388px;
  }

  .footer-items {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
  }

  .footer-list li {
    margin: 10px 0;
  }

  .social-icon {
    margin: 5px;
    font-size: 30px;
  }
}
