.change-email-container {
  padding: 5px 20px 15px 20px;
}

.change-email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.change-email-input {
  margin-top: 10px;
  height: 20px;
  width: 75%;
}

.change-email-password-input {
  width: 35%;
  padding: 10px 20px;
  border: 1px solid;
}