.change-email-container {
  padding: 5px 20px 15px 20px;
}

.change-email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}

.change-email-input {
  margin-top: 15px;
  height: 35px;
  width: 50%;
}

.change-email-password-input {
  border: 1px solid;
  height: 35px;
}