.footer-usp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dimmed-primary);
  color: var(--color-secondary);
  height: 65px;
  font-family: var(--font-family-bold);
}

.usp-icon-footer {
  height: 20px;
  width: auto;
}
